<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Email</title>
  </head>
  <body
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      font-family: sans-serif;
      margin-top: 50px;
    "
  >
    <div>
      <div
        style="
          box-shadow: 10px 30px 30px 20px rgba(192, 188, 188, 0.589);
          padding: 20px;
          border-radius: 20px;
        "
      >
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <img src="./images/Frame.png" alt="" />
        </div>
        <h3 style="text-align: center; color: #0A1C4B;">Verification code</h3>
        <div>
          <p style="color: #0A1C4B;">HALO!</p>
          <h4 style="color: #0A1C4B;">
            Masukan Kode Verifikasi berikut:<br />
          </h4>
          <div style="display: flex  ; align-items: center ; justify-content: center; background-color: #1c172a1a; padding: 5px;  border-radius: 15px;" >
                 <b>{{token}}</b>
          </div>
          <p style="color: #0A1C4B;">Jika Anda tidak meminta kode ini, Harap amankan akun <br>
             anda dengan mengubah kata sandi Anda.  <span style="font-weight: bold;">Jangan diteruskan </span>  <br>
            <span  style="font-weight: bold;">atau berikan kode ini kepada siapa pun.  </span> 
            </p>
            <h3 style="font-size: 16px; font-weight: 500; color: #0A1C4B;">Terima Kasih, Cheating Detection App</h3>
            <hr>
            </div>
        </div>
      </div>
      <div style="display: flex ; align-items: center; justify-content: center; margin-top: 20px;">
            <img src="./images/Group 2627.png" alt="">
            <img src="./images/Group 2628.png" alt="" style="margin-left: 30px; cursor: pointer;">
          <img src="./images/Group 2629.png" alt="" style="margin-left: 30px; cursor: pointer;">
            <img src="./images/Group 2630.png" alt=""  style="margin-left: 30px; cursor: pointer;">
      </div>
    </div>
  </body>
</html>